:root {
    --color1: #745b48;
    --color2: #8ea2c8;
    --color3: #e5c8bb; /*c9ada1   d4e5f4*/
    --color4: #757aa1;
    --color5: #a19792;

    --fuente-principal: 4.3rem; 
}

/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: mandatory;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(to top, #aea19be8 0%, #ffffffcf 100%);
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    background-color: var(--color5);
    color: var(--color1);
    padding: 1rem 3rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: .5rem;
    width: 80%;
    text-align: center;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
  
}

.boton:hover {
    cursor: pointer;
}

.sombra {
    -webkit-box-shadow: 0px 4px 15px 0px rgba(112,112,112,0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    background-color: white;
    padding: 2rem;
    border-radius: .5rem;
    margin-top: 3rem;
}


/* Tipografia */
h1 {
    text-align: center;
    color: #745b48;
    font-size: 1.5rem;
    font-family: "Playwrite AU TAS", sans-serif;
}

h2{
    text-align: center;
    color: #e5c8bb;   /*614c3c */
    font-size: var(--fuente-principal);
    font-family: "Playwrite AU TAS", sans-serif;
    font-weight: bold;
}

span{
    text-align: center;
    color: #745b48;
    font-size: 1.5rem;
    font-family: "Playwrite AU TAS", sans-serif;
}

/* Titulo principal */
.titulo {
    text-align: center;
    color: #e5c8bb;   /*614c3c */
    font-size: var(--fuente-principal);
    font-family: "Playwrite AU TAS", sans-serif;
    font-weight: bold;
}

/* Utilidades */
.w-sm-100 {
    width: 100%;
}   
@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}

.flex {
    display: flex;
}

.alinear-derecha {
    justify-content: flex-end;
}

/* Navegacion */
.Nav-bg {
   background-color: var(--color4);
}

.NavPrincipal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .NavPrincipal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.NavPrincipal a {
   display: block;
   text-align: center;
   color: var(--color3);
   text-decoration: none;
   font-size: 2rem;
   font-weight: bold;
   padding: 0.8rem;
}

.navegacion_enlace--activo,
.NavPrincipal a:hover {
    background-color: var(--color5);
    color: var(--color1);
}

.navegacion_enlace {
    display: block;
    text-align: center;
    color: var(--color3);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.8rem;
}

/* Imagen de fondo */
.hero{
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 290px;
    position: relative;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--color3);
}

.contenido-hero .ubicacion {
    display: flex;
    align-items:flex-end;
}

/** Scroll **/
.productos,
.NavPrincipal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

/* Seccion productos */
@media (min-width: 480px) {
    .productos {
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 2rem;
    }
}

.Producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Producto h3 {
    color: #6e4926;
}

.Producto p {
    line-height: 1.6;
    text-align: center;
}


.Producto .iconos {
    height: 7rem;
    width: 7rem;
    background-color: #a9b8d3;
    border-radius: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* grid */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Comida */
.comida {
    background-color: #e5c8bb;
}

.pro_imagen {
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pro_nombre {
    font-size: 2.5rem;

}

.pro_precio {
    font-size: 2rem;
    color: #435570;
}

.pro_nombre,
.pro_precio {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 1rem 0;
    text-align: center;
}

.form_submit {
    background-color: var(--color5);
    color: var(--color1);
    padding: 1rem 3rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: .5rem;
    width: 80%;
    text-align: center;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 768px) {
    .form_submit {
        width: auto;
    }
  
}

.form_submit:hover {
    cursor: pointer;
}

/* Contacto */
.formulario {
    background-color: #d4c7c0dc;
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: .8rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #50351c;
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 2rem;
    }
}

.campo:nth-child(3),
.campo:nth-child(4) {
    grid-column: 1 / 3;
}

.campo{
    margin-bottom: 1rem;
}

.campo label {
    color: black;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 0.5rem;   
}

/** Nosotros **/
.nosotros {
   display: grid;
   grid-template-rows: repeat(2, auto);
}
@media (min-width: 768px) {
    .nosotros {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    }
}
.nosotros__imagen {
    grid-row: 1 / 2;
    width: 100%;
}
@media (min-width: 768px) {
    .nosotros__imagen {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
}
/** Clientes **/
.clientes {
   display: grid;
   grid-template-rows: repeat(2, auto);
}
@media (min-width: 768px) {
    .clientes {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    }
}
.clientes__imagen {
    grid-row: 1 / 2;
    width: 100%;
}
@media (min-width: 768px) {
    .clientes__imagen {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
}

/* Pie de pagina */
.footer {
    text-align: center;
}